@charset "UTF-8";
/*--------------------------------------*
* foundation
*--------------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

html {
  font-size: 100%;
  font-family: "M PLUS 1p", sans-serif;
  box-sizing: border-box;
  line-height: 1.6;
}

body {
  margin: 0;
  background-color: #FFF7EF;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 60px;
  font-size: 3.75rem;
}

h2 {
  font-size: 40px;
  font-size: 2.5rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 20%;
  grid-template-rows: 128px 1fr 128px;
}

@media (max-width: 768px) {
  .container {
    display: block;
  }
}
/*--------------------------------------*
* layout
*--------------------------------------*/
.l-header {
  background-color: #FFF7EF;
  position: relative;
}

@media (max-width: 768px) {
  .l-header {
    margin: 0 auto;
  }
  .c-btn__sp {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
.l-main {
  width: 100%;
}

.l-sidebar {
  background-color: #F2EDE9;
  grid-row: 1/3;
  grid-column: 2/3;
}

.cross-btn {
  display: none;
}

.c-btn__pc {
  margin-top: 40px;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .l-sidebar {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -30%;
    transition: right 0.6s ease-in-out;
    z-index: 20;
    overflow-y: auto;
  }
  .l-sidebar.active {
    overflow-y: scroll;
    right: 0;
    transition: right 0.6s ease-in-out;
  }
  /* ×印のボタン */
  .c-btn__cross {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 5px 0 0 0;
    border: none;
    right: -85%;
  }
  .c-btn__cross::before, .c-btn__cross::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    width: 3px;
    height: 27px;
    background-color: #707070;
  }
  .c-btn__cross::before {
    transform: translate(-50%, -50%) rotate(45deg); /* 斜めの線1 */
  }
  .c-btn__cross::after {
    transform: translate(-50%, -50%) rotate(-45deg); /* 斜めの線2 */
  }
}
@media (max-width: 425px) {
  .l-sidebar {
    width: 60%;
    right: -60%;
  }
}
.l-footer {
  width: 100%;
  grid-column: 1/3;
  background: url(../../../img/bar_footer.png);
  background-size: cover;
  padding: 20px;
}

/*--------------------------------------*
* component
*--------------------------------------*/
.c-ttl {
  font-size: 1.5rem; /* 20px */
  font-weight: 700;
  color: #707070;
  font-family: "Roboto", sans-serif;
}
.c-ttl__second {
  font-size: 1.125rem; /* 18px */
  font-weight: 700;
  color: #707070;
}

.c-list {
  line-height: 2.5;
}
.c-list__item {
  color: #707070;
}

.c-border {
  height: 3px;
  background-color: #EAEAEA;
}

.c-txt {
  color: #3C2A10;
}

.c-btn {
  border-style: none;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #707070;
  padding: 0;
}
.c-btn__sp {
  display: none;
  background-color: #FFF7EF;
}

@media screen and (max-width: 768px) {
  .c-btn__pc {
    display: none;
  }
  .c-btn__sp {
    display: inline-block;
  }
}
.c-overlay {
  background-color: #333;
  cursor: pointer;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.6s, visibility 0.6s;
  visibility: hidden;
  width: 100vw;
  z-index: 10;
}

.c-overlay.active {
  opacity: 0.8;
  visibility: visible;
}

/*--------------------------------------*
* project
*--------------------------------------*/
.p-header {
  display: flex;
  justify-content: space-between; /*両端揃えで配置*/
  align-items: center;
  padding: 40px 20px 40px;
}

@media (max-width: 768px) {
  .p-header {
    text-align: center;
    flex-direction: column;
  }
  .p-header .p-site-logo {
    margin-bottom: 40px;
  }
}
.p-main__home {
  position: relative;
}
.p-main__home-img {
  width: 100%;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-main__home-ttl {
  font-size: 1.625rem; /* 26px */
  position: absolute;
  top: 45%;
  left: 40px;
  color: #FFFFFF;
  font-weight: 700;
}
.p-main__front {
  padding: 5%;
}
.p-main__front-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
}
.p-main__front-block {
  width: 50%;
  margin: 0 20px 0;
  min-height: 56.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}
.p-main__front-block:nth-of-type(1) {
  background-image: url(../../../img/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108\ .png);
}
.p-main__front-block:nth-of-type(2) {
  background-image: url(../../../img/473d814b175bd517b56eb309f2958725.png);
}
.p-main__front-head {
  position: relative;
  color: #EAEAEA;
  font-weight: 700;
  font-size: 2.875rem; /*46px */
  font-family: "Roboto", sans-serif;
  margin: 10px 0 0 10px;
}
.p-main__front-head::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #EAEAEA;
  position: absolute;
  bottom: 0;
  top: 150%;
}
.p-main__front .c-border {
  width: 50px;
  margin: 10px 0 0;
}
.p-main__front .p-card {
  height: auto;
  font-size: clamp(0.75rem, 1vw, 1.2rem);
  padding: 10px;
  margin: 10px;
}
.p-main__front .c-ttl__second {
  color: #3C2A10;
}

@media (max-width: 768px) {
  .p-main__front-head {
    font-size: 2rem;
  }
  .p-main__front .c-border {
    top: 70px;
    width: 30px;
  }
  .p-main__front .p-card {
    height: auto;
    font-size: clamp(0.75rem, 1vw, 1rem);
    padding: 10px;
    margin: 10px;
  }
}
@media (max-width: 425px) {
  .p-main__front-wrapper {
    display: flex;
    flex-direction: column;
  }
  .p-main__front-block {
    width: 100%;
    margin: 0 0 5% 0;
  }
}
.p-site-logo {
  font-size: 2rem; /* 32px */
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #707070;
}

.p-sidebar__sec {
  margin: 48px auto 0;
}
.p-sidebar .c-ttl__second {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .p-sidebar {
    margin: 100px 0 0;
  }
}
.p-card {
  background-color: #FFFFFF;
  opacity: 0.8;
}

.p-seach {
  position: relative;
}
.p-seach::before {
  content: ""; /* 擬似要素に必須　*/
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../../../img/magnifying.jpeg);
  position: absolute;
  top: 25%;
  left: 2%;
}
.p-seach input {
  width: 250px;
  height: 32px;
  border-radius: 8px;
  border-width: 1px;
  border-color: #707070;
}
.p-seach button {
  margin-left: 5px;
  color: #707070;
  padding: 5px 30px;
  border-radius: 8px;
  border-width: 1px;
  border-color: #707070;
}

@media (max-width: 375px) {
  .p-seach {
    width: auto;
  }
  .p-seach input {
    width: auto;
  }
}
.p-map {
  width: 100%;
  display: flex;
  align-items: stretch;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../../img/map-front.png);
  background-size: cover;
}
.p-map .p-txt {
  color: #FFFFFF;
  width: 65%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  padding: 50px 80px;
}
.p-map .c-ttl {
  color: #FFFFFF;
  margin-bottom: 30px;
  letter-spacing: 0.01rem;
}
.p-map .c-border {
  width: 50px;
}
.p-map .c-txt {
  font-weight: 600;
  color: #FFFFFF;
  line-height: 2.06;
  letter-spacing: 0.01rem;
  height: auto;
  margin: 50px 0 0;
}

@media screen and (max-width: 768px) {
  .p-map .p-txt {
    width: 100%;
    padding: 40px;
  }
}
.p-footer {
  height: 100%;
}
.p-footer__block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
}
.p-footer__links {
  display: flex;
  padding: 0;
}
.p-footer__line {
  width: 1px;
  height: 1.5rem;
  background-color: #FFFFFF;
  margin: 0 10px;
}

.p-copyright {
  color: #FFFFFF;
  margin-bottom: 1rem;
}/*# sourceMappingURL=style.css.map */