
@use "../../foundation/variables" as *;

.c-btn {
    border-style: none;
    font-family: $second-font;
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-gray;
    padding: 0;

    &__sp {
        display: none;
        background-color: #FFF7EF;
    }
}

@media screen and (max-width: 768px) {
    .c-btn {
        &__pc {
            display: none;
        }
        &__sp {
            display: inline-block;
        }
    }
}





