
@use "../../foundation/variables" as *;

.p-footer {
    height: 100%;

    &__block {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $color-white;
    }
    &__links {
        display: flex;
        padding: 0;
    }
    &__line {
        width: 1px;
        height: 1.5rem;
        background-color: $color-white;
        margin: 0 10px;
    }
    
}
