
.p-header {
    display: flex;
    justify-content: space-between;/*両端揃えで配置*/
    align-items: center;
    padding: 40px 20px 40px;

}

@media (max-width: 768px) {
    .p-header {
        text-align: center;
        flex-direction: column;

        .p-site-logo {
            margin-bottom: 40px;
        }
    }
}