
@use "../../foundation/variables" as *;

.p-main {
    &__home {
        position: relative;
        
        &-img {
            width: 100%;
            height: 360px;
            object-fit: cover;
        }

        &-ttl {
            font-size: 1.625rem; /* 26px */
            position: absolute;
            top: 45%;
            left: 40px;
            color: $color-white;
            font-weight: 700;
        }
    }
    &__front {
        padding: 60px;

        &-wrapper {
            display: flex;
        }
        &-block {
            position: relative;
            margin: 0 20px;
        }
        &-img {
            height: auto;
            width: auto;
            object-fit: cover;
        }
        &-head {
            position: absolute;
            top: 10px;
            left: 10px;
            color: $color-lightgray;
            font-weight: 700;
            font-size: 2.875rem; /*46px */
            font-family: $first-font;
        }
        .c-border {
            position: absolute;
            top: 90px;
            left: 10px;
        }
        .p-card-wrapper {
            position: absolute;
            bottom: 5px;
            flex-direction: column;
            width: auto;
            height: auto;
        }
        .p-card {
            height: 140px;
            font-size: 0.875rem;
            padding: 10px;
            margin: 10px;
            overflow: hidden;
        }
        .c-ttl__second {
            color: $color-brown;
        }
        .c-txt {
            height: 95px;
            overflow: hidden;
        }
    }
}