
@use "../../foundation/variables" as *;

.p-map {
 width: 100%;
 display: flex;
 align-items: stretch;
 background: linear-gradient(rgba(0, 0, 0, .4) , rgba(0, 0, 0, .4)), url(../../../img/map-front.png);
 background-size: cover;

  .p-txt {
    color: $color-white;
    width: 65%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .3),  rgba(0, 0, 0, .3));
    padding: 50px 80px;
  }
   .c-ttl {
    color: $color-white;
    margin-bottom: 30px;
    letter-spacing: 0.01rem;
  }
  .c-border {
    width: 50px;
  }
  .c-txt {
    font-weight: 600;
    color: $color-white;
    line-height: 2.06;
    letter-spacing: 0.01rem;
    height: auto;
    margin: 50px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .p-map {
    .p-txt {
      width: 100%;
      padding: 40px;
    }
  }
}