
@use "../../foundation/variables" as *;

.p-sidebar {
    &__sec {
        margin: 48px auto 0 ;
    }
    .c-ttl__second {
        margin-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .p-sidebar {
        margin: 100px 0 0;
    }
}

