
    .p-seach {
        position: relative;
    

        &::before {
            content: ""; /* 擬似要素に必須　*/
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url(../../../img/magnifying.jpeg);
            position: absolute;
            top: 25%;
            left: 2%;

        }
        input {
            width: 250px;
            height: 32px;
            border-radius: 8px;
            border-width: 1px;
            border-color: #707070;
        }
        button {
            margin-left: 5px;
            color: #707070;
            padding: 5px 30px;
            border-radius: 8px;
            border-width: 1px;
            border-color: #707070;
        }
    }
    @media (max-width: 375px) {
        .p-seach {
            width: auto;
        }
        .p-seach input {
            width: auto;
        }
    }
